page-profile {
  
  .root {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .top{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bottom{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  .avatar {
    width: 30%;
  }

  .avatar img {
    border-radius: 50%;
  }

  .name {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  .sub-info{
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #707070;
    margin-top: 0px;
  }
 
  .sub-info .label-ios{
    margin: 0px;
    padding: 0px;
  }

  .row{
    width: 100%;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
  }
  .max-line{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
