page-home {
    .about-us{
        color: #E45E5D;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .flex-home{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .flex-home .logo{
        width: 100%;
        height: 30%;
    }

    .flex-home .control{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
}
