.fit-width-button{
    width: 100%;
    background: #E45E5D;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 54px;
}

.margin-vertical-32{
    width: 100%;
    height: 32px;
}

.tool-bar{
    background: #E45E5D;
    color: white;
    font-size: 24px;
}

.common-input{
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #707070;
}

.margin-vertical-8{
    padding-top: 4px;
    padding-bottom: 4px;
}

.margin-vertical-16{
    padding-top: 8px;
    padding-bottom: 8px;
}

.margin-vertical-24{
    padding-top: 12px;
    padding-bottom: 12px;
}